<ion-content class="background" [fullscreen]="true">
  <div class="ion-text-center">

    <!-- Logo -->
    <div class="section1 ion-padding">
      <img src="assets/images/forReserve.png" />
    </div>

    <!-- Title -->
    <h2>Appointment Service</h2>
    <!--    <ion-text color="medium">All you want, for reserve</ion-text>-->

    <!-- Buttons -->
    <div class="section2 ion-padding">
      <ion-button color="primary"  shape="round" (click)="gotoSignInPage()">
        <ion-text><strong>{{'SIGN IN'}}</strong></ion-text>
      </ion-button>
      <ion-button color="success"  shape="round" (click)="gotoSignUpPage()">
        <ion-text><strong>{{'SIGN UP'}}</strong></ion-text>
      </ion-button>
    </div>

    <!-- SignUp Buttons -->
    <div id="section3">

    </div>
  </div>
</ion-content>
