<ng-container *ngIf="!isLoading">
<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="light">
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-button color="color1" routerLink="/tabs/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{"SERVICE_DETAILS.TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="service-details">
  <!-- Like/Dislike Button Option -->
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button color="light" class="ion-margin-top" (click)="toggleLike()">
      <ion-icon [name]="isLiked ? 'heart' : 'heart-outline'" color="color1"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" class="ion-margin-top">
      <ion-icon color="color1" name="share-social"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <swiper-container pager="true">
    <swiper-slide *ngFor="let item of place?.result?.photos">

      <img [src]="getPhotoUrl(item.photo_reference)"/>
    </swiper-slide>
  </swiper-container>

  <div class="ion-padding">
    <ng-container *ngFor="let chip of place?.result?.types">
      <ion-chip color="primary" *ngIf="shouldShowChip(chip)">
        {{ "CHIPS." + chip | translate | titlecase }}
      </ion-chip>
    </ng-container>

    <!-- Service Name -->
    <h2 class="service-name">{{place?.result?.name}}</h2>

    <ion-row class="row-1">
      <!-- Location -->
      <ion-col size="12">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            <ion-icon name="location" slot="start" color="medium"></ion-icon> &nbsp;
            <ion-text color="medium" class="ion-text-wrap">{{place?.result?.formatted_address}}</ion-text>
          </ion-label>
        </ion-item>
      </ion-col>

    </ion-row>

    <!-- Service Overview -->
    <ion-row>
      <ion-list-header class="ion-no-padding">
        <ion-label>
          <ion-text color="medium">{{"SERVICE_DETAILS.REVIEWS" | translate}}:</ion-text>
        </ion-label>
      </ion-list-header>
    </ion-row>

    <ion-accordion-group #accordionGroup>
      <ion-accordion *ngFor="let review of place?.result?.reviews">
        <ion-item slot="header" color="light" *ngIf="review.text">

          <ion-thumbnail slot="start">
            <img class="circular-image" [src]="redirectURLImage(review.profile_photo_url)" alt="Profile Photo">
          </ion-thumbnail>
          <ion-label>
            <h2>{{ review.author_name + ' - ' + review.rating + '/5' }}</h2>
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">{{review.text}}</div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
<ion-item-divider></ion-item-divider>
  <div class="ion-padding">


      <ion-row>
        <ion-list-header class="ion-no-padding">
          <ion-label>
            <ion-text class="service-name">{{'SERVICE_DETAILS.ZONE' | translate }}:</ion-text>
          </ion-label>
        </ion-list-header>
      </ion-row>
    <div *ngIf="dateAndHoursList && dateAndHoursList.length > 0" class="ion-padding">
      <ion-datetime size ="cover" [(ngModel)]="selectedDate" presentation="date" [dayValues]="dayValues" (ionChange)="onDateChange($event)"></ion-datetime>

    <div class="time-cards-container">
      <ion-card *ngFor="let time of timeOptions" [ngClass]="{ 'selected': selectedTime === time }" (click)="selectTime(time)">
        <ion-card-content [ngClass]="{ 'content-selected': selectedTime === time }">
          {{time}}
        </ion-card-content>
      </ion-card>
    </div>
    </div>
  </div>
  <ng-template [ngIf]="!dateAndHoursList || dateAndHoursList.length === 0" [ngIfElse]="bookService" class="ion-padding">
    <h3 class="ion-padding">{{"SERVICE_DETAILS.NO_SCHEDULE_AVAILABLE" | translate}}</h3>
    <ion-text class="ion-padding">{{"SERVICE_DETAILS.CALL_INFO"}}</ion-text>
    <ion-button color="success" *ngIf="place?.result?.formatted_phone_number" (click)="callPlace(place?.result?.formatted_phone_number)" expand="full">
      <ion-icon name="call-outline" slot="start"></ion-icon> &nbsp;
      <ion-text class="ion-text-wrap">{{"SERVICE_DETAILS.CALL_NOW" | translate | uppercase}}</ion-text>
    </ion-button>


    <ion-button color="success" *ngIf="place?.result?.website" expand="full">
      <ion-icon name="call-outline" slot="start"></ion-icon> &nbsp;
      <ion-text class="ion-text-wrap">__Visit Website </ion-text>
    </ion-button>
    <a *ngIf="place?.result?.website" [href]="place?.result?.website" target="_blank">
      {{"SERVICE_DETAILS.VISIT_WEB" | translate }}
    </a>
  </ng-template>
  <ng-template #bookService class="ion-padding">
    <ion-button (click)="onSubmit()" type="warning" expand="full" [disabled]="!selectedDate || selectedTime === ''">
      {{ "SERVICE_DETAILS.RESERVE" | translate }}
    </ion-button>
  </ng-template>
</ion-content>


<ion-footer class="ion-no-border ion-padding">
</ion-footer>
</ng-container>
