
ion-header {
  z-index: auto;
}

ion-toolbar {

}

#service-details {
  ion-fab{
    padding-top: 60px;
  }
  .circular-image {
    width: 40px; /* Tamaño deseado para la imagen */
    height: 40px;
    border-radius: 50%; /* Hace que la imagen tenga forma circular */
    object-fit: cover; /* Ajusta la imagen para que se ajuste dentro del círculo */
  }
  .review-card {
    max-width: 420px;
    height: 200px;
  }

  .review-card .card-content p {
    overflow: auto;
    white-space: normal;
  }

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .service-name {
    margin-top: 10px;
    font-size: 26px;
    font-weight: 600;
  }

  .row-1 {
    .service-price {
      float: right;
      margin-top: -16px;

      h1 {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }

  #photos {

    // #slider
    ion-slides,
    .swiper-container {
      width: 100%;
      height: 300px;
    }

    .swiper-slide {
      background-size: cover !important;
      background-position: center !important;
      border-radius: 10px;
    }
  }
  ion-datetime{
    width: 100%;
    margin: 0 auto;
  }

  .time-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  ion-card {
    flex: 1 0 auto;
    margin: 5px;
  }
    .selected {
      background-color: var(--ion-color-primary);

      .content-selected{
        color: white;

      }
    }
  ion-slides {
    --bullet-background-active: var(--ion-color-color1);
  }

  .share-icon {
    padding-top: 16px;
    float: right;
  }

  .location-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}
