<ng-container *ngIf="!isLoading">
<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-button color="color1" routerDirection="back">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{place?.result?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="service-details">
  <swiper-container pager="true">
    <swiper-slide *ngFor="let item of place?.result?.photos">

      <img [src]="getPhotoUrl(item.photo_reference)"/>

      <!-- Like/Dislike Button Option -->
      <ion-fab vertical="top" horizontal="end">
        <ion-fab-button color="light" class="ion-margin-top" (click)="toggleLike()">
          <ion-icon [name]="isLiked ? 'heart' : 'heart-outline'" color="color1"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" class="ion-margin-top">
          <ion-icon color="color1" name="share-social"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </swiper-slide>
  </swiper-container>

  <div class="ion-padding">


    <ion-chip color="primary"*ngFor="let chip of place?.result?.types">{{chip}}</ion-chip>

    <!-- Service Name -->
    <h1 class="service-name">PLACE NAME</h1>

    <ion-row class="row-1">
      <!-- Location -->
      <ion-col size="8">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            <ion-icon name="location" slot="start" color="medium"></ion-icon> &nbsp;
            <ion-text color="medium" class="ion-text-wrap">{{place?.result?.formatted_address}}</ion-text>
          </ion-label>
        </ion-item>
      </ion-col>

      <!-- Price -->
      <ion-col>
        <ion-item lines="none" class="service-price ion-no-padding">
          <ion-label>
            <h1>$Rate</h1>
            <ion-text color="medium">/per night</ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Service Overview -->
    <ion-row>
      <ion-list-header class="ion-no-padding">
        <ion-label>
          <ion-text color="medium">Overview</ion-text>
        </ion-label>
      </ion-list-header>

      <ion-text>Name</ion-text>
    </ion-row>

    <!-- Photos -->
    <div id="photos">
      <ion-list-header class="ion-no-padding">
        <ion-label>
          <ion-text color="medium">Photos</ion-text>
        </ion-label>
        <ion-button color="color1">See All</ion-button>
      </ion-list-header>

<!--      <ion-slides class="ion-padding slider" #slider>-->
<!--        <ion-slide *ngFor="let item of place.photos[0]" [ngStyle]="{'background' : 'url(' + item.images[0] + ')'}">-->
<!--        </ion-slide>-->
<!--      </ion-slides>-->
    </div>


    <!-- Service Amenities -->
    <ion-list-header class="ion-no-padding">
      <ion-label color="medium">Amenities</ion-label>
    </ion-list-header>

<!--    <ion-chip *ngFor="let item of place.photos" color="medium">-->
<!--      <i class="{{item.icon}}" aria-hidden="true"></i> &nbsp;-->
<!--      <ion-label>{{item.name}}</ion-label>-->
<!--    </ion-chip>-->

    <!-- Service Description -->
    <ion-list-header class="ion-no-padding">
      <ion-label color="medium"></ion-label>
    </ion-list-header>

    <ion-text color="medium">Description</ion-text>

    <!-- Map -->
    <ion-list-header class="ion-no-padding">
      <ion-label color="medium">Location</ion-label>
    </ion-list-header>

<!--    <ion-label>-->
<!--      <p><strong>Address:</strong> {{hotelDetails.address}}</p>-->
<!--      <p><strong>Website:</strong> <a href="#"> {{hotelDetails.website}}</a></p>-->
<!--      <p><strong>Phone:</strong> <i>{{hotelDetails.phone}}</i></p>-->
<!--    </ion-label>-->
<!---->
    <!-- Map -->
<!--    <img class="location-img ion-no-padding" src="assets/images/navigation-map.png">-->
    <ion-datetime [(ngModel)]="selectedDate" [dayValues]="dayValues" (ionChange)="onDateChanged($event)"></ion-datetime>

    <ion-select placeholder="Select Time">
      <ion-select-option *ngFor="let time of timeOptions" [value]="time">{{time}}</ion-select-option>
    </ion-select>

  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <div class="ion-padding">
    <ion-button color="color1" expand="full" shape="round">
      Book Service
    </ion-button>
  </div>
</ion-footer>
</ng-container>
