
<!-- Header -->
<app-toolbar [title]="'HOME.TITLE' | translate"></app-toolbar>
<!-- Contents -->
<ion-content [fullscreen]="true" class="background">
  <img class="top-img" src="assets/images/home.jpg" />

  <div id="section1">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <ion-searchbar color="light" [placeholder]=" 'HOME.SEARCH' | translate" (ionChange)="searchServices($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Popular Services -->
  <div id="popular-services">
    <ion-list-header>
      <ion-label color="dark">{{"HOME.POPULAR_SERVICES" | translate }}</ion-label>
    </ion-list-header>

    <div class="flex-container">
      <ng-container *ngFor="let item of popularPlaces?.results">
        <div class="flex-card" *ngIf="!checkHiddenChips(item.types) || !item.types">
          <app-flex-card [item]="item"></app-flex-card>
    </div>

      </ng-container>
       </div>
  </div>
</ion-content>
