ion-header {
  z-index: auto;

}

ion-menu-button {
  color: var(--ion-color-contrast);

}

ion-content.background {
  .top-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  #section1 {
    margin-top: -10%;

    ion-searchbar {
      --icon-color: var(--ion-color-color1);
      --placeholder-color: var(--ion-color-color1);
      --background: #fff;
      --color: var(--ion-color-color1);
      --box-shadow: 0px 1px 12px 0px #cccccc;
      --border-radius: 25px;
    }
  }

#popular-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 100%;

    .flex-card {
      flex-basis: 420px;

      display: flex;
      flex-direction: column;

      ion-thumbnail {
        width: 120px;
        height: 120px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }

        .packages_thumbnail {
          width: 100px;
          height: 120px;
          border-radius: 5px;
        }
      }

      .name {
        font-size: 22px;
        font-weight: 500;
      }

      ion-icon {
        color: var(--ion-color-color1);
        padding-right: 10px;
      }

      ion-note {
        font-size: 1.3rem;
        font-weight: 800;
      }

      ion-card {
        color: white;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}}
