    <ion-card>
      <ion-card-content>
        <p>¿Estás seguro de que deseas anular esta cita?</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="light" (click)="dismissModal()">{{"APPOINTMENTS.FALSE" | translate}}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="cancelAppointmentConfirmed()">{{"APPOINTMENTS.TRUE" | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
