<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="color1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Page Title -->
    <ion-title>__ APPOINTMENTS</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content [fullscreen]="true" class="background">
  <div class="flex-container">


  <ion-card *ngFor="let item of userAppointments" class="flex-card">
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label class="ion-text-wrap">
        <h6 class="service-type">{{ item.date }}</h6>
      </ion-label>
    </ion-card-content>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <h4 class="date">{{ item.date | date:'mediumDate' }}</h4>
        <h5 class="time">{{ item.time }}</h5>
      </ion-label>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="color1" class="super-guapo-button" (click)="changeAppointment(item)">Cambiar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" class="super-guapo-button" (click)="cancelAppointment(item)">Anular</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  </div>
</ion-content>
